<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="scau.com.lprapm.dao.MenuMapper" >
  <resultMap id="BaseResultMap" type="scau.com.lprapm.entity.Menu" >
    <id column="menu_id" property="menuId" jdbcType="INTEGER" />
    <result column="menu_name" property="menuName" jdbcType="VARCHAR" />
    <result column="menu_i_class" property="menuIClass" jdbcType="VARCHAR" />
    <result column="menu_href" property="menuHref" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    menu_id menuId, menu_name menuName, menu_i_class menuIClass, menu_href menuHref
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="scau.com.lprapm.entity.MenuExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from menu
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from menu
    where menu_id = #{menuId,jdbcType=INTEGER}
  </select>
  <select id="searchMenu" resultType="scau.com.lprapm.entity.Menu" parameterType="map">
    select
    <include refid="Base_Column_List" />
    from menu
    where 1=1
    <if test="menuName != null and menuName != '' ">
      and menu_name LIKE CONCAT('%',#{menuName},'%')
    </if>
  </select>
  <select id="searchMenus" resultType="java.util.LinkedHashMap" parameterType="map">
    select
    m.menu_id menuId, m.menu_name menuName, m.menu_i_class menuIClass,
    m.menu_href menuHref,rm.rm_id rmId,r.role_id roleId,r.role_name roleName
    from menu m NATURAL JOIN role_menu rm NATURAL JOIN role r
    where 1=1
    <if test="menuName != null and menuName != '' ">
      and menu_name LIKE CONCAT('%',#{menuName},'%')
    </if>
  </select>
  <select id="searchLeftMenu" resultType="java.util.LinkedHashMap" parameterType="map">
    select
      <include refid="Base_Column_List" />
    from menu where menu_id IN
    (select menu_id from role_menu where role_id in
    (select role_id from user NATURAL JOIN user_role
      where user_email=#{userEmail,jdbcType=VARCHAR}
            and user_password=#{userPassword,jdbcType=VARCHAR}))
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from menu
    where menu_id = #{menuId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="scau.com.lprapm.entity.MenuExample" >
    delete from menu
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="scau.com.lprapm.entity.Menu" >
    insert into menu (menu_id, menu_name, menu_i_class, 
      menu_href)
    values (#{menuId,jdbcType=INTEGER}, #{menuName,jdbcType=VARCHAR}, #{menuIClass,jdbcType=VARCHAR}, 
      #{menuHref,jdbcType=VARCHAR})
  </insert>
  <insert id="menuInsert" parameterType="scau.com.lprapm.entity.Menu" useGeneratedKeys="true" keyProperty="menuId">
    insert into menu (menu_id, menu_name, menu_i_class,
    menu_href)
    values (#{menuId,jdbcType=INTEGER}, #{menuName,jdbcType=VARCHAR}, #{menuIClass,jdbcType=VARCHAR},
    #{menuHref,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="scau.com.lprapm.entity.Menu" >
    insert into menu
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="menuId != null" >
        menu_id,
      </if>
      <if test="menuName != null" >
        menu_name,
      </if>
      <if test="menuIClass != null" >
        menu_i_class,
      </if>
      <if test="menuHref != null" >
        menu_href,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="menuId != null" >
        #{menuId,jdbcType=INTEGER},
      </if>
      <if test="menuName != null" >
        #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="menuIClass != null" >
        #{menuIClass,jdbcType=VARCHAR},
      </if>
      <if test="menuHref != null" >
        #{menuHref,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="scau.com.lprapm.entity.MenuExample" resultType="java.lang.Integer" >
    select count(*) from menu
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update menu
    <set >
      <if test="record.menuId != null" >
        menu_id = #{record.menuId,jdbcType=INTEGER},
      </if>
      <if test="record.menuName != null" >
        menu_name = #{record.menuName,jdbcType=VARCHAR},
      </if>
      <if test="record.menuIClass != null" >
        menu_i_class = #{record.menuIClass,jdbcType=VARCHAR},
      </if>
      <if test="record.menuHref != null" >
        menu_href = #{record.menuHref,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update menu
    set menu_id = #{record.menuId,jdbcType=INTEGER},
      menu_name = #{record.menuName,jdbcType=VARCHAR},
      menu_i_class = #{record.menuIClass,jdbcType=VARCHAR},
      menu_href = #{record.menuHref,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="scau.com.lprapm.entity.Menu" >
    update menu
    <set >
      <if test="menuName != null" >
        menu_name = #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="menuIClass != null" >
        menu_i_class = #{menuIClass,jdbcType=VARCHAR},
      </if>
      <if test="menuHref != null" >
        menu_href = #{menuHref,jdbcType=VARCHAR},
      </if>
    </set>
    where menu_id = #{menuId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="scau.com.lprapm.entity.Menu" >
    update menu
    set menu_name = #{menuName,jdbcType=VARCHAR},
      menu_i_class = #{menuIClass,jdbcType=VARCHAR},
      menu_href = #{menuHref,jdbcType=VARCHAR}
    where menu_id = #{menuId,jdbcType=INTEGER}
  </update>
</mapper>