<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>采购价格管理</title>
    <link rel="stylesheet" type="text/css" href="../../assets/css/plugins/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../assets/css/plugins/bootstrap-table.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../assets/css/plugins/jquery-confirm.css"/>
    <link rel="stylesheet" type="text/css" href="../../assets/css/plugins/bootstrap-datetimepicker.css"/>
    <link rel="stylesheet" type="text/css" href="../../assets/css/plugins/bootstrap-select.css"/>
    <link rel="stylesheet" type="text/css" href="../../assets/css/plugins/animate.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../assets/font-awesome-4.7.0/css/font-awesome.css"/>
    <link rel="stylesheet" type="text/css" href="../../assets/css/plugins/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="../../assets/css/app/base.css"/>
    <link rel="stylesheet" type="text/css" href="../../assets/css/app/menu.css"/>
    <link rel="stylesheet" type="text/css" href="../../assets/css/app/purchaseOrder.css"/>
</head>

<body>
<div class="content-theme">
    <h3>采购价格管理</h3>
</div>
<div class="content-nav">
</div>
<div class="content-main">
    <div class="tab-content">
        <!-- 采购价格管理 -->
        <div class="row content-main-btn">
            <form class="form-inline" role="form" id="searchForm">
                <div class="form-group">
                    <label class="col-sm-2 control-label label-date">创建时间:</label>
                    <div class="col-sm-3 input-group date">
                        <input class="form-control Time" id="createTime" type="text" value="" name="createTime"
                               placeholder="请选择时间">
                    </div>
                    <div class="col-sm-1 input-group date">
                        <span class="pull-right sapn-date">到</span>
                    </div>
                    <div class="col-sm-3 input-group date">
                        <input class="form-control Time" id="endTime" type="text" value="" name="endTime"
                               placeholder="请选择时间">
                    </div>
                </div>
                <div class="form-group col-xs-offset-2">
                    <label class="sr-only" for="goodsName">货物名称</label>
                    <input type="text" class="form-control" id="goodsName" name="goodsName" placeholder="请输入货物名称">
                </div>
                <button type="button" class="btn btn-success" id="searchBtn">
                    <span class="fa fa-fw fa-search"></span> 查询
                </button>
                <button type="button" class="btn btn-success" id="insertBtn">
                    <span class="fa fa-fw fa-plus"></span>添加
                </button>
            </form>
        </div>
        <div class="row content-main-table">
            <table class="table"></table>
        </div>
        <!-- 模态框（Modal） -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true" scrolling="no">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                        </h4>
                    </div>
                    <form class="modal-body form-horizontal" role="form" id="addForm">
                        <input type="text" name="ppmId" class="hide" value="">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">货物名称:</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="goodsName" placeholder="请输入货物名称" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">货物价格:</label>
                            <div class="col-sm-8">
                                <input type="number" class="form-control" name="goodsPrice" placeholder="请输入货物价格"
                                       min="0" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label label-date">日期:</label>
                            <div class="col-sm-8 date">
                                <input class="form-control Time" type="text" id="ppmTime" value="" name="ppmTime"
                                       placeholder="日期" required>
                            </div>
                        </div>
                        <button type="reset" class="btn hide" id="resetBtn">
                            重置
                        </button>
                    </form>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                        </button>
                        <button type="button" class="btn btn-success" id="submitBtn">
                            提交
                        </button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal -->
        </div>
    </div>
</div>
<script type="text/javascript" src="../../assets/js/plugins/require.js"></script>
<script type="text/javascript">
    require(['../../assets/js/common.js'], function () {
        require(['app/purchase/purchase']);
    });
</script>
</body>

</html>
