<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>用户管理</title>
    <link rel="stylesheet" type="text/css" href="../../assets/css/plugins/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../../assets/css/plugins/bootstrap-table.min.css" />
    <link rel="stylesheet" type="text/css" href="../../assets/css/plugins/jquery-confirm.css" />
    <link rel="stylesheet" type="text/css" href="../../assets/css/plugins/bootstrap-datetimepicker.css">
    <link rel="stylesheet" type="text/css" href="../../assets/css/plugins/animate.min.css" />
    <link rel="stylesheet" type="text/css" href="../../assets/font-awesome-4.7.0/css/font-awesome.css" />
    <link rel="stylesheet" type="text/css" href="../../assets/css/plugins/normalize.css" />
    <link rel="stylesheet" type="text/css" href="../../assets/css/app/base.css" />
    <link rel="stylesheet" type="text/css" href="../../assets/css/app/menu.css" />
</head>

<body>
    <div class="content-theme">
        <h3>用户管理</h3>
    </div>
    <div class="content-nav"></div>
    <div class="content-main">
        <div class="row content-main-btn">
            <div class="col-xs-3">
                <button class="btn btn-success" data-toggle="modal" id="btn-user-add">
                    <span class="fa fa-fw fa-plus"></span> 添加
                </button>
            </div>
            <div class="col-xs-9 text-right">
                <form class="form-inline" role="form" id="searchForm">
                    <div class="form-group">
                        <label class="sr-only" for="userEmail">用户账号</label>
                        <input type="text" class="form-control" id="userEmail" name="userEmail" placeholder="请输入邮箱账号">
                    </div>
                    <button type="button" class="btn btn-success" id="userNameBtn">
                        <span class="fa fa-fw fa-search"></span> 查询
                    </button>
                </form>
            </div>
        </div>
        <div class="row content-main-table">
            <table class="user-table"></table>
        </div>
        <!-- 模态框（Modal） -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" scrolling="no">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel">

                    </h4>
                    </div>
                    <form class="modal-body form-horizontal" role="form" id="addUserForm">
                        <input type="text" class="hide" name="userId" value="">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">账号</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="userEmail" placeholder="请输入账号" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">密码</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="userPassword" placeholder="输入密码" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">真实姓名</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="userTrueName" placeholder="输入真实姓名" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">电话号码</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="userPhone" placeholder="输入电话号码" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">性别</label>
                            <div class="col-sm-8">
                                <label class="checkbox-inline sex-check">
                                    <input type="radio" name="userSex" id="manOption" value="man" checked> 男
                                </label>
                                <label class="checkbox-inline sex-check">
                                    <input type="radio" name="userSex" id="womanOption" value="woman"> 女
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">生日</label>
                            <div class="col-sm-8 input-group date" style="padding:0px 0px 0px 15px;width: 68%;">
                                <input class="form-control " type="text" id="birthDay" value="" style="width:93%;" name="userBirthday">
                                <div class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">公司</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="userCompany" placeholder="输入公司">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">部门</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="userDept" placeholder="输入部门">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">部门电话</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="userDeptPhone" placeholder="输入部门电话">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">部门描述</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="userDeptDesc" placeholder="输入部门描述">
                            </div>
                        </div>
                        <input type="text" class="hide" name="urId" value="">
                        <button type="reset" class="btn hide" id="resetBtn">
                            重置
                        </button>
                    </form>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                        </button>
                        <button type="button" class="btn btn-success" id="submitBtn">
                            提交
                        </button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal -->
        </div>
    </div>
    <script type="text/javascript" src="../../assets/js/plugins/require.js"></script>
    <script type="text/javascript">
    require(['../../assets/js/common.js'], function() {
        require(['app/user']);
    });
    </script>
</body>

</html>
