<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="scau.com.lprapm.dao.CarFreeBillMapper">
    <resultMap id="BaseResultMap" type="scau.com.lprapm.entity.CarFreeBill">
        <constructor>
            <idArg column="carfree_id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="car_id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="carn_id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
        carfree_id, car_id, carn_id
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from car_free_bill
        where carfree_id = #{carfreeId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from car_free_bill
        where carfree_id = #{carfreeId,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="scau.com.lprapm.entity.CarFreeBill">
        insert into car_free_bill (carfree_id, car_id, carn_id
        )
        values (#{carfreeId,jdbcType=INTEGER}, #{carId,jdbcType=INTEGER}, #{carnId,jdbcType=INTEGER}
        )
    </insert>
    <insert id="insertSelective" parameterType="scau.com.lprapm.entity.CarFreeBill">
        insert into car_free_bill
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="carfreeId != null">
                carfree_id,
            </if>
            <if test="carId != null">
                car_id,
            </if>
            <if test="carnId != null">
                carn_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="carfreeId != null">
                #{carfreeId,jdbcType=INTEGER},
            </if>
            <if test="carId != null">
                #{carId,jdbcType=INTEGER},
            </if>
            <if test="carnId != null">
                #{carnId,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="scau.com.lprapm.entity.CarFreeBill">
        update car_free_bill
        <set>
            <if test="carId != null">
                car_id = #{carId,jdbcType=INTEGER},
            </if>
            <if test="carnId != null">
                carn_id = #{carnId,jdbcType=INTEGER},
            </if>
        </set>
        where carfree_id = #{carfreeId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="scau.com.lprapm.entity.CarFreeBill">
        update car_free_bill
        set car_id = #{carId,jdbcType=INTEGER},
        carn_id = #{carnId,jdbcType=INTEGER}
        where carfree_id = #{carfreeId,jdbcType=INTEGER}
    </update>
</mapper>