<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="scau.com.lprapm.dao.PositionTrackingMapper">
  <resultMap id="BaseResultMap" type="scau.com.lprapm.entity.PositionTracking">
    <constructor>
      <idArg column="position_id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
      <arg column="carplan_id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
      <arg column="order_id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
      <arg column="provinceid" jdbcType="VARCHAR" javaType="java.lang.String"/>
      <arg column="cityid" jdbcType="VARCHAR" javaType="java.lang.String"/>
      <arg column="areaid" jdbcType="VARCHAR" javaType="java.lang.String"/>
      <arg column="track_status" jdbcType="VARCHAR" javaType="java.lang.String"/>
      <arg column="track_time" jdbcType="DATE" javaType="java.util.Date"/>
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    position_id, carplan_id, order_id, provinceid, cityid, areaid, track_status, track_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select
    <include refid="Base_Column_List"/>
    from position_tracking
    where position_id = #{positionId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from position_tracking
    where position_id = #{positionId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="scau.com.lprapm.entity.PositionTracking">
    insert into position_tracking (position_id, carplan_id, order_id,
    provinceid, cityid, areaid,
    track_status, track_time)
    values (#{positionId,jdbcType=INTEGER}, #{carplanId,jdbcType=INTEGER}, #{orderId,jdbcType=INTEGER},
    #{provinceid,jdbcType=VARCHAR}, #{cityid,jdbcType=VARCHAR}, #{areaid,jdbcType=VARCHAR},
    #{trackStatus,jdbcType=VARCHAR}, #{trackTime,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="scau.com.lprapm.entity.PositionTracking">
    insert into position_tracking
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="positionId != null">
        position_id,
      </if>
      <if test="carplanId != null">
        carplan_id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="provinceid != null">
        provinceid,
      </if>
      <if test="cityid != null">
        cityid,
      </if>
      <if test="areaid != null">
        areaid,
      </if>
      <if test="trackStatus != null">
        track_status,
      </if>
      <if test="trackTime != null">
        track_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="positionId != null">
        #{positionId,jdbcType=INTEGER},
      </if>
      <if test="carplanId != null">
        #{carplanId,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="provinceid != null">
        #{provinceid,jdbcType=VARCHAR},
      </if>
      <if test="cityid != null">
        #{cityid,jdbcType=VARCHAR},
      </if>
      <if test="areaid != null">
        #{areaid,jdbcType=VARCHAR},
      </if>
      <if test="trackStatus != null">
        #{trackStatus,jdbcType=VARCHAR},
      </if>
      <if test="trackTime != null">
        #{trackTime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="scau.com.lprapm.entity.PositionTracking">
    update position_tracking
    <set>
      <if test="carplanId != null">
        carplan_id = #{carplanId,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="provinceid != null">
        provinceid = #{provinceid,jdbcType=VARCHAR},
      </if>
      <if test="cityid != null">
        cityid = #{cityid,jdbcType=VARCHAR},
      </if>
      <if test="areaid != null">
        areaid = #{areaid,jdbcType=VARCHAR},
      </if>
      <if test="trackStatus != null">
        track_status = #{trackStatus,jdbcType=VARCHAR},
      </if>
      <if test="trackTime != null">
        track_time = #{trackTime,jdbcType=DATE},
      </if>
    </set>
    where position_id = #{positionId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="scau.com.lprapm.entity.PositionTracking">
    update position_tracking
    set carplan_id = #{carplanId,jdbcType=INTEGER},
    order_id = #{orderId,jdbcType=INTEGER},
      provinceid = #{provinceid,jdbcType=VARCHAR},
      cityid = #{cityid,jdbcType=VARCHAR},
    areaid = #{areaid,jdbcType=VARCHAR},
    track_status = #{trackStatus,jdbcType=VARCHAR},
    track_time = #{trackTime,jdbcType=DATE}
    where position_id = #{positionId,jdbcType=INTEGER}
  </update>
</mapper>