<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="scau.com.lprapm.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="scau.com.lprapm.entity.User" >
    <id column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="user_true_name" property="userTrueName" jdbcType="VARCHAR" />
    <result column="user_password" property="userPassword" jdbcType="VARCHAR" />
    <result column="user_email" property="userEmail" jdbcType="VARCHAR" />
    <result column="user_phone" property="userPhone" jdbcType="VARCHAR" />
    <result column="user_birthday" property="userBirthday" jdbcType="DATE" />
    <result column="user_sex" property="userSex" jdbcType="VARCHAR" />
    <result column="user_company" property="userCompany" jdbcType="VARCHAR" />
    <result column="user_dept" property="userDept" jdbcType="VARCHAR" />
    <result column="user_dept_phone" property="userDeptPhone" jdbcType="VARCHAR" />
    <result column="user_dept_desc" property="userDeptDesc" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    user_id userId, user_true_name userTrueName, user_password userPassword,
    user_email userEmail, user_phone userPhone, user_birthday userBirthday,
    user_sex userSex,user_company userCompany, user_dept userDept,
    user_dept_phone userDeptPhone, user_dept_desc userDeptDesc
  </sql>
  <select id="loginQuery" parameterType="java.lang.String" resultMap="BaseResultMap" resultType="scau.com.lprapm.entity.User">
    select
    <include refid="Base_Column_List" />
    from user
    where user_email = #{userEmail,jdbcType=INTEGER}
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <select id="searchUser" resultType="java.util.LinkedHashMap" parameterType="map">
    select
    u.user_id userId, u.user_true_name userTrueName, u.user_password userPassword,
    u.user_email userEmail, u.user_phone userPhone, u.user_birthday userBirthday,
    u.user_sex userSex,u.user_company userCompany, u.user_dept userDept,
    u.user_dept_phone userDeptPhone, u.user_dept_desc userDeptDesc,
    ur.ur_id urId,r.role_id roleId,r.role_name roleName
    from user u NATURAL JOIN user_role ur NATURAL JOIN role r
    WHERE 1=1
    <if test="userEmail != null and userEmail != '' ">
      and u.user_email LIKE CONCAT('%',#{userEmail},'%')
    </if>
  </select>
  <select id="searchUserByName" resultType="java.util.LinkedHashMap" parameterType="map">
    select
    u.user_id userId, u.user_true_name userName, u.user_password userPassword,
    u.user_email userEmail, u.user_phone userPhone, u.user_birthday userBirthday,
    u.user_sex userSex,u.user_company userCompany, u.user_dept userDept,
    u.user_dept_phone userDeptPhone, u.user_dept_desc userDeptDesc,
    ur.ur_id urId,r.role_id roleId,r.role_name roleName
    from user u NATURAL JOIN user_role ur NATURAL JOIN role r
    WHERE 1=1
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="scau.com.lprapm.entity.User" >
    insert into user (user_id, user_true_name, user_password, 
      user_email, user_phone, user_birthday, 
      user_sex, user_company, user_dept, 
      user_dept_phone, user_dept_desc)
    values (#{userId,jdbcType=INTEGER}, #{userTrueName,jdbcType=VARCHAR}, #{userPassword,jdbcType=VARCHAR}, 
      #{userEmail,jdbcType=VARCHAR}, #{userPhone,jdbcType=VARCHAR}, #{userBirthday,jdbcType=DATE}, 
      #{userSex,jdbcType=VARCHAR}, #{userCompany,jdbcType=VARCHAR}, #{userDept,jdbcType=VARCHAR}, 
      #{userDeptPhone,jdbcType=VARCHAR}, #{userDeptDesc,jdbcType=VARCHAR})
  </insert>
  <insert id="insertUser" parameterType="scau.com.lprapm.entity.User" useGeneratedKeys="true" keyProperty="userId">
    insert into user (user_id, user_true_name, user_password,
    user_email, user_phone, user_birthday,
    user_sex, user_company, user_dept,
    user_dept_phone, user_dept_desc)
    values (#{userId,jdbcType=INTEGER}, #{userTrueName,jdbcType=VARCHAR}, #{userPassword,jdbcType=VARCHAR},
    #{userEmail,jdbcType=VARCHAR}, #{userPhone,jdbcType=VARCHAR}, #{userBirthday,jdbcType=DATE},
    #{userSex,jdbcType=VARCHAR}, #{userCompany,jdbcType=VARCHAR}, #{userDept,jdbcType=VARCHAR},
    #{userDeptPhone,jdbcType=VARCHAR}, #{userDeptDesc,jdbcType=VARCHAR})
  </insert>
  <insert id="insertMap" parameterType="map" useGeneratedKeys="true" keyProperty="userId">
    insert into user (user_id, user_true_name, user_password,
    user_email, user_phone, user_birthday,
    user_sex, user_company, user_dept,
    user_dept_phone, user_dept_desc)
    values (#{userId,jdbcType=INTEGER}, #{userTrueName,jdbcType=VARCHAR}, #{userPassword,jdbcType=VARCHAR},
    #{userEmail,jdbcType=VARCHAR}, #{userPhone,jdbcType=VARCHAR}, #{userBirthday,jdbcType=DATE},
    #{userSex,jdbcType=VARCHAR}, #{userCompany,jdbcType=VARCHAR}, #{userDept,jdbcType=VARCHAR},
    #{userDeptPhone,jdbcType=VARCHAR}, #{userDeptDesc,jdbcType=VARCHAR})
  </insert>
  <!--获取主键-->
  <insert id="insertMap2" parameterType="scau.com.lprapm.entity.User" useGeneratedKeys="true" keyProperty="userId">
    insert into user (user_id, user_true_name, user_password,
    user_email, user_phone, user_birthday,
    user_sex, user_company, user_dept,
    user_dept_phone, user_dept_desc)
    values (#{userId,jdbcType=INTEGER}, #{userTrueName,jdbcType=VARCHAR}, #{userPassword,jdbcType=VARCHAR},
    #{userEmail,jdbcType=VARCHAR}, #{userPhone,jdbcType=VARCHAR}, #{userBirthday,jdbcType=DATE},
    #{userSex,jdbcType=VARCHAR}, #{userCompany,jdbcType=VARCHAR}, #{userDept,jdbcType=VARCHAR},
    #{userDeptPhone,jdbcType=VARCHAR}, #{userDeptDesc,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="scau.com.lprapm.entity.User" >
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userTrueName != null" >
        user_true_name,
      </if>
      <if test="userPassword != null" >
        user_password,
      </if>
      <if test="userEmail != null" >
        user_email,
      </if>
      <if test="userPhone != null" >
        user_phone,
      </if>
      <if test="userBirthday != null" >
        user_birthday,
      </if>
      <if test="userSex != null" >
        user_sex,
      </if>
      <if test="userCompany != null" >
        user_company,
      </if>
      <if test="userDept != null" >
        user_dept,
      </if>
      <if test="userDeptPhone != null" >
        user_dept_phone,
      </if>
      <if test="userDeptDesc != null" >
        user_dept_desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userTrueName != null" >
        #{userTrueName,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null" >
        #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="userEmail != null" >
        #{userEmail,jdbcType=VARCHAR},
      </if>
      <if test="userPhone != null" >
        #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="userBirthday != null" >
        #{userBirthday,jdbcType=DATE},
      </if>
      <if test="userSex != null" >
        #{userSex,jdbcType=VARCHAR},
      </if>
      <if test="userCompany != null" >
        #{userCompany,jdbcType=VARCHAR},
      </if>
      <if test="userDept != null" >
        #{userDept,jdbcType=VARCHAR},
      </if>
      <if test="userDeptPhone != null" >
        #{userDeptPhone,jdbcType=VARCHAR},
      </if>
      <if test="userDeptDesc != null" >
        #{userDeptDesc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="scau.com.lprapm.entity.User" >
    update user
    <set >
      <if test="userTrueName != null" >
        user_true_name = #{userTrueName,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null" >
        user_password = #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="userEmail != null" >
        user_email = #{userEmail,jdbcType=VARCHAR},
      </if>
      <if test="userPhone != null" >
        user_phone = #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="userBirthday != null" >
        user_birthday = #{userBirthday,jdbcType=DATE},
      </if>
      <if test="userSex != null" >
        user_sex = #{userSex,jdbcType=VARCHAR},
      </if>
      <if test="userCompany != null" >
        user_company = #{userCompany,jdbcType=VARCHAR},
      </if>
      <if test="userDept != null" >
        user_dept = #{userDept,jdbcType=VARCHAR},
      </if>
      <if test="userDeptPhone != null" >
        user_dept_phone = #{userDeptPhone,jdbcType=VARCHAR},
      </if>
      <if test="userDeptDesc != null" >
        user_dept_desc = #{userDeptDesc,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="scau.com.lprapm.entity.User" >
    update user
    set user_true_name = #{userTrueName,jdbcType=VARCHAR},
      user_password = #{userPassword,jdbcType=VARCHAR},
      user_email = #{userEmail,jdbcType=VARCHAR},
      user_phone = #{userPhone,jdbcType=VARCHAR},
      user_birthday = #{userBirthday,jdbcType=DATE},
      user_sex = #{userSex,jdbcType=VARCHAR},
      user_company = #{userCompany,jdbcType=VARCHAR},
      user_dept = #{userDept,jdbcType=VARCHAR},
      user_dept_phone = #{userDeptPhone,jdbcType=VARCHAR},
      user_dept_desc = #{userDeptDesc,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
</mapper>